.img-home {
    min-width: 10px !important;
    min-height: 10px !important;
}

.service-item {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-text .service-icon {
    width: 140px;
    height: 140px;
    padding: 15px;
    margin-top: -70px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border-radius: 140px;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}

.service-item .service-text .btn {
    color: #6c2bd9;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .25);
}

.section-title {
    color: #6c2bd9 !important;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.text-color-home {
    color: #6c2bd9 !important;
}

.feature-box{
    border-color: #d8d7d7 !important;
}
