.badge1 {
    background-color: #9165dd !important;
    color: white !important;
}

.green-chip {
    background-color: #7ae582 !important;
    color: white !important;
}

.red-chip {
    background-color: #f08080 !important;
    color: white !important;
}