<app-sidebar></app-sidebar>
<main class="container main-dash">
    <div class="d-flex justify-content-between mt-3">
        <div>
            <div class="d-flex flex-column align-items-center">
                <h3 class="mb-4 fw-semibold leading-none tracking-tight">Users</h3>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-rounded">
        <thead>
            <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Gender</th>
            <th>Telephone</th>
            <th>Current City</th>
            <th>Target City</th>
            <th *ngIf="showManagerBoard">Roles</th>
            </tr>
        </thead>
        <tbody class="align-items-center">
            <tr *ngFor="let user of pagedUsers">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.birthdate }}</td>
            <td>
                <span class="" *ngIf="user.gender == 1"><i class="bi bi-gender-male me-1">Male</i></span> <span *ngIf="user.gender == 2"><i class="bi bi-gender-female me-1">Female</i></span>
            </td>
            <td>{{ user.telephone }}</td>
            <td>{{ user.currentCity.name }}</td>
            <td>{{ user.desiredCity.name }}</td>
            <td *ngIf="showManagerBoard">
                <select class="form-select" name="selectedRole" [(ngModel)]="selectedRoleIds[user.id]" (change)="updateUserRole(user.id)" 
                        *ngIf="showManagerBoard" [disabled]="user.role.name === 'MANAGER'">
                    <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                </select>
            </td>            
        </tbody>
    </table>

    <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
    ></mat-paginator>
</main>
