<app-navbar></app-navbar>
<section class="overflow-hidden">
    <style>
    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }
    </style>

    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
        <div class="row g-0 align-items-center">
        <div class="col-lg-7 m-0" style="z-index: 10">
            <div class="row">
                <div class="d-flex col-11">
                    <img [src]="imageUrl1" class="w-25 pe-0 me-0" style="padding-bottom: 300px;" alt="image">
                    <img [src]="imageUrl" class="w-75" alt="image">
                </div>
            </div>
        </div>

        <div class="col-lg-5 m-0 position-relative">
        <div class="card bg-glass rounded-5">
        <div class="card-body px-4 py-5 px-md-5">
            <div>
                <h3 class="fw-semibold text-center mb-3">
                    <span class="text-dark">Welcome Back 👋</span>
                </h3>
            </div>
            <form #formLogin="ngForm" (ngSubmit)="onSubmitLogin(formLogin)">
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <div class="">
                    <input type="email" class="form-control" id="email" placeholder="Email Address" ngModel #email="ngModel" name="email" required email>
                    <div *ngIf="email.errors && formLogin.submitted" class="text-danger">
                        Email is required!
                    </div>
                </div>
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="">
                    <input type="password" class="form-control" id="password" placeholder="Password" ngModel #password="ngModel" name="password"
                    required minlength="6">
                    <div *ngIf="password.errors && formLogin.submitted" class="text-danger">
                        <div *ngIf="password.errors['required']">Password is required</div>
                        <div *ngIf="password.errors['minlength']" >
                            Password must be at least 6 characters
                        </div>
                    </div>
                </div>
                </div>
                <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember" id="remember">

                    <label class="form-check-label text-form" for="remember">
                    Remember Me
                    </label>
                </div>
                </div>
                <div class="text-start mb-3">
                <a class="text-decoration-none text-form" href="">
                    Forgot Your Password?
                </a>
                </div>
                <div class="d-grid d-block mb-4">
                <button type="submit" name="login" class="btn main-btn text-white" id="login">Sign in</button>
                </div>
            </form>
            <p class="mb-3 text-center text-form fs-6 mb-3">Don't have an account? <button class="btn main-btn btn-sm">
                <a routerLink="/register" class="text-decoration-none text-white text-center">Sign Up</a></button></p>
        </div>
        </div>
    </div>
    </div>
</div>
</section>