.page-heading {
    padding: 110px 0px;
    text-align: center;
}

.page-heading h3 {
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
}

.progress-circular {
    position: relative;
    text-align: center;
}

.percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 14px;
    color: black;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #6c2bd9;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: var(--mdc-circular-progress-active-indicator-color);
}

.mdc-circular-progress__determinate-circle-graphic, .mdc-circular-progress__indeterminate-circle-graphic {
    fill: #746869 !important;
}

.cursor {
    cursor: pointer;
}

.page-heading span {
    background-color: #fff;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
}

.badge1 {
    background-color: rgb(41, 40, 40) !important;
    color: white !important;
}

.green-chip {
    background-color: #7ae582 !important;
    color: white !important;
}

.red-chip {
    background-color: #f08080 !important;
    color: white !important;
}


.service-item {
    position: relative;
    background-color: #FFFFFF !important;
    border-radius: 8px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.service-item .service-text .service-icon {
    width: 140px;
    height: 140px;
    padding: 15px;
    margin-top: -70px;
    margin-bottom: 30px;
    background: #FFFFFF;
    border-radius: 140px;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(0, 0, 0, .1);
}

.service-item .service-text .btn {
    color: #6c2bd9;
    background: #ffffff;
    box-shadow: 0 0 45px rgba(0, 0, 0, .25);
}

.section-title {
    color: #6c2bd9 !important;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
}

.properties ul.properties-filter {
    list-style: none;
    text-align: center;
    margin-bottom: 70px;
}

.properties ul.properties-filter li {
    display: inline-block;
    margin: 5px 8px;
}

.properties ul.properties-filter li a.is_active {
    background-color: #6c2bd9;
    color: #fff;
}

.properties ul.properties-filter li a {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    background-color: #1e1e1e;
    padding: 12px 25px;
    border-radius: 5px;
    transition: all .3s;
    text-decoration: none;
}