<app-navbar></app-navbar>
<div class="container-fluid px-4 mt-2 pt-5 pb-4 mx-auto page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <span class="breadcrumb"><a routerLink="/home" class="text-decoration-none text-dark">Home</a> / Roomates</span>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-3 display-1 fw-bolder leading-none tracking-tight">Roomates</h3>
                <img [src]="imageUrl5" class="img-home mb-5" width="18% !important">
            </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="input-group" style="width: 50%;">
                <input type="text" name="neighborhood" class="form-control form-search" placeholder="Enter a roomate name">
                <button type="submit" class="btn main-btn rounded-pill ms-2"><i class="bi bi-search fw-bold"></i></button>
            </div>
        </div>
    </div>

    <div class="section properties d-flex justify-content-center mt-5">
        <ul class="properties-filter" style="width: 75%;">
            <li>
                <a class="is_active cursor" (click)="filterRoommates()">Show All</a>
            </li>
            <li>
                <a (click)="filterByDesiredCity()" class="cursor">Desired City</a>
            </li>
            <li>
                <a (click)="toggleAgeFilter()" class="cursor">Filter By Age</a>
                <div *ngIf="showAgeFilter" class="d-flex flex-column align-items-center">
                    <input type="number" class="form-control m-3" placeholder="Min Age" [(ngModel)]="minAge">
                    <input type="number" class="form-control" placeholder="Max Age" [(ngModel)]="maxAge">
                    <button (click)="filterBySameAge()" class="mt-2 btn main-btn ms-2">Filter</button>
                </div>
            </li>
            <li>
                <a (click)="filterByHasLocal()" class="cursor">Has Local</a>
            </li>
            <li>
                <a (click)="filterByGender()" class="cursor">Gender</a>
            </li>
            <li>
                <a (click)="toggleBudgetFilter()" class="cursor">Budget</a>
                <div *ngIf="showBudgetFilter" class="d-flex flex-column align-items-center">
                    <input type="number" class="form-control m-3" placeholder="Min Budget" [(ngModel)]="minBudget">
                    <input type="number" class="form-control" placeholder="Max Budget" [(ngModel)]="maxBudget">
                    <button (click)="filterByBudget()" class="mt-2 btn main-btn ms-2">Filter</button>
                </div>
            </li>
            <li>
                <a (click)="filterBySamePreference()" class="cursor">Same Preference</a>
            </li>
            <li>
                <a (click)="fetchRoommatesByQuestionnaire()" class="cursor is_active mt-2">Based on Questionnaire</a>
            </li>
        </ul>
    </div>
    
    <div class="row gy-5 gx-4 mt-1 mb-5 pb-5">
        <div class="card questionnaire-card mt-0" *ngIf="showQuestionnaireNote">
            <div class="card-body">
                <p class="card-text fs-3 mb-2">Please answer the questionnaire to find better matches !!</p>
                <p><i class="bi bi-quote me-2"></i>Discover your perfect roommate effortlessly with our customized questionnaire. Answer lifestyle questions and find matches that fit your lifestyle seamlessly. 
                    Say hello to stress-free roommate matches and blissful cohabitation!<i class="bi bi-quote ms-2"></i></p>
                <div class="d-flex justify-content-center gap-5">
                    <a routerLink="/questionnaire" class="btn btn-secondary mt-3">Answer Questionnaire</a>
                    <button (click)="filterRoommates()" class="btn mt-3 text-white" style="background-color: #6c2bd9;">Show All Roommates</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-5" *ngFor="let roommate of filteredRoommates">
        <div class="service-item d-flex h-100">
        <div class="service-text ms-3 p-2 pb-5 pt-0">
            <div *ngIf="roommate.percentageMatch != 0" class="progress-circle d-flex gap-2 align-items-center" style="
            position: absolute;
            right: 8%;
            top: 3%;
        ">
                <div class="progress-circular">
                <mat-progress-spinner
                    [color]="'primary'"
                    [mode]="'determinate'"
                    [value]="roommate.percentageMatch"
                    [diameter]="50"
                    [strokeWidth]="5"
                ></mat-progress-spinner>
                <p class="percentage fw-semibold">{{ roommate.percentageMatch }}%</p>
                </div>
                <h6 class="fw-semibold ms-1">Match Percentage </h6>
            </div>
            <div class="service-icon">
                <img class="img-fluid rounded-circle" [src]="getImageUrl(roommate.gender)" alt="">
            </div>
            <div class="d-flex mt-0 gap-4 align-items-center">
                <h5 class="text-start fw-semibold">{{ roommate.firstName }} {{ roommate.lastName }} &nbsp; . &nbsp; {{ calculateAge(roommate.birthdate) }}y  </h5>
                <h2 class="badge rounded-pill badge1 fs-6 fw-semibold" style="display: flex; width: fit-content;">Target City: &nbsp; {{ roommate.desiredCity.name }}</h2>
            </div>
            <p style="margin-top: 15px; text-align: start;" class="pe-2">{{ roommate.bio }}</p>
            <div class="d-flex gap-3 mb-3">
                <h2 class="badge rounded-pill text-bg-light fs-6 fw-semibold">From: &nbsp; {{ roommate.currentCity.name }}</h2>
                <h2 class="badge rounded-pill text-bg-light fs-6 fw-semibold">Budget: &nbsp; ${{ roommate.budget }}</h2>
                <h2 class="badge rounded-pill text-bg-light fs-6 fw-semibold">{{ getOccupationText(roommate.occupation) }}</h2>
            </div>
            <mat-chip-set aria-label="Preference selection">
            <div *ngIf="roommate.preference" class="preference text-start mt-3 mb-3">
                <mat-chip class="green-chip" *ngIf="roommate.preference.smoking">
                <i class="bi bi-check-lg me-1"></i>
                Smoking
                </mat-chip>
                <mat-chip class="red-chip" *ngIf="!roommate.preference.smoking">
                <i class="bi bi-x-circle me-1"></i>
                Smoking
                </mat-chip>
                <mat-chip class="green-chip" *ngIf="roommate.preference.pets">
                <i class="bi bi-check-lg me-1"></i>
                Pets
                </mat-chip>
                <mat-chip class="red-chip" *ngIf="!roommate.preference.pets">
                <i class="bi bi-x-circle me-1"></i>
                Pets
                </mat-chip>
                <mat-chip class="green-chip" *ngIf="roommate.preference.visitors">
                <i class="bi bi-check-lg me-1"></i>
                Visitors
                </mat-chip>
                <mat-chip class="red-chip" *ngIf="!roommate.preference.visitors">
                <i class="bi bi-x-circle me-1"></i>
                Visitors
                </mat-chip>
                <mat-chip class="green-chip" *ngIf="roommate.preference.partying">
                <i class="bi bi-check-lg me-1"></i>
                Partying
                </mat-chip>
                <mat-chip class="red-chip" *ngIf="!roommate.preference.partying">
                <i class="bi bi-x-circle me-1"></i>
                Partying
                </mat-chip>
                <mat-chip class="green-chip" *ngIf="roommate.preference.sharingBedroom">
                <i class="bi bi-check-lg me-1"></i>
                Sharing Bedroom
                </mat-chip>
                <mat-chip class="red-chip" *ngIf="!roommate.preference.sharingBedroom">
                <i class="bi bi-x-circle me-1"></i>
                Sharing Bedroom
                </mat-chip>
                <mat-chip class="green-chip" *ngIf="roommate.preference.hasApartment">
                <i class="bi bi-check-lg me-1"></i>
                Has Apartment
                </mat-chip>
                <mat-chip class="red-chip" *ngIf="!roommate.preference.hasApartment">
                <i class="bi bi-x-circle me-1"></i>
                Has Apartment
                </mat-chip>
            </div>
            </mat-chip-set>
            <div class="mt-4 text-start">
                <a class="text-color fw-semibold text-decoration-none cursor" (click)="viewRoommateDetails(roommate.id)">
                    <i class="bi bi-chevron-double-right btn btn-square rounded-circle me-2"></i>
                    See More Details
                </a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<app-footer></app-footer>