<app-navbar></app-navbar>
<div class="container-fluid px-4 mt-2 pt-5 pb-4 mx-auto page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <span class="breadcrumb"><a routerLink="/home" class="text-decoration-none text-dark">Home</a> / Roomates</span>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-4 display-4 fw-bolder leading-none tracking-tight">Roomates</h3>
                <img [src]="imageUrl5" class="img-home mb-5" width="18% !important">
            </div>
            </div>
        </div>
    </div>

    <div class="section properties">
        <ul class="properties-filter">
            <li>
                <a class="is_active">Show All</a>
            </li>
            <li>
                <a href="">Desired City</a>
            </li>
            <li>
                <a href="">Same Age</a>
            </li>
            <li>
                <a href="">Has Local</a>
            </li>
            <li>
                <a href="">Budget</a>
            </li>
            <li>
                <a href="">Same Preference</a>
            </li>
        </ul>
    </div>

    <div class="row gy-5 gx-4 mt-1 mb-5 pb-5">
        <div class="col-lg-4 col-md-6 pt-5">
            <div class="service-item d-flex h-100">
                <div class="service-text p-5 pt-0">
                    <div class="service-icon">
                        <img class="img-fluid rounded-circle" [src]="imageUrl2" alt="">
                    </div>
                    <h5 class="mb-3">Lorem ipsum dolor</h5>
                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                            stet diam sed stet.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-5">
            <div class="service-item d-flex h-100">
                <div class="service-text p-5 pt-0">
                    <div class="service-icon">
                        <img class="img-fluid rounded-circle" [src]="imageUrl8" alt="">
                    </div>
                    <h5 class="mb-3">Lorem ipsum dolor</h5>
                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                            stet diam sed stet.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pt-5">
            <div class="service-item d-flex h-100">
                <div class="service-text p-5 pt-0">
                    <div class="service-icon">
                        <img class="img-fluid rounded-circle" [src]="imageUrl9" alt="">
                    </div>
                    <h5 class="mb-3">Lorem ipsum dolor</h5>
                        <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                            stet diam sed stet.</p>
                        <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>