<app-navbar></app-navbar>
<section class="overflow-hidden">
<style>
    #radius-shape-1 {
    height: 50px;
    width: 50px;
    top: -80px;
    left: -250px;
    }

    #radius-shape-2 {
    bottom: -40px;
    right: -5px;
    width: 200px;
    height: 200px;
    }

    .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
    }
</style>

<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row align-items-center mb-5">
    <div class="col-lg-6" style="z-index: 10">
        <h1 class="my-5 display-4 fw-bold" style="color: rgb(135, 87, 216)">
        The Best Application <br />
        <span style="color: #6c2bd9">To Find a Roomate</span>
        </h1>
        <p class="mb-4 text-dark">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Temporibus, expedita iusto veniam atque, magni tempora mollitia
        dolorum consequatur nulla, neque debitis eos reprehenderit quasi
        ab ipsum nisi dolorem modi. Quos?
        </p>
    </div>

    <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong">
        <img [src]="imageUrl1" alt="" width="450px">
        </div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong">
        <img [src]="imageUrl2" alt="">
        </div>

        <div class="card bg-glass">
        <div class="card-body px-2 py-3">
            <mat-horizontal-stepper>
                <!-- Step 1: Registration -->
                <mat-step [stepControl]="registrationForm">
                    <ng-template matStepLabel>Fill out your information</ng-template>
                    <form [formGroup]="registrationForm" class="register-form mt-4">
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                            <input id="firstName" type="text" class="form-control" formControlName="firstName">
                            </div>
                            <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input id="lastName" type="text" class="form-control" formControlName="lastName">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="telephone" class="form-label">Telephone</label>
                            <input id="telephone" type="text" class="form-control" formControlName="telephone">
                            </div>
                            <div class="col-md-6">
                            <label for="bio" class="form-label">Bio</label>
                            <textarea id="bio" class="form-control" formControlName="bio"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="budget" class="form-label">Budget</label>
                            <input id="budget" type="number" class="form-control" formControlName="budget">
                            </div>
                            <div class="col-md-6">
                            <label for="occupation" class="form-label">Occupation</label>
                            <select id="occupation" class="form-select" formControlName="occupation">
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="2">Option 3</option>
                                <option value="2">Option 4</option>
                                <option value="2">Option 5</option>
                            </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="gender" class="form-label">Gender</label>
                            <select id="gender" class="form-select" formControlName="gender">
                                <option value="1">Male</option>
                                <option value="2">Female</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                            <label for="birthdate" class="form-label">Birthdate</label>
                            <input id="birthdate" type="date" class="form-control" formControlName="birthdate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="currentCityId" class="form-label">Current City</label>
                                <select id="currentCityId" class="form-select" formControlName="currentCityId">
                                    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                                </select>
                                </div>
                                <div class="col-md-6">
                                <label for="desiredCityId" class="form-label">Desired City</label>
                                <select id="desiredCityId" class="form-select" formControlName="desiredCityId">
                                    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                                </select>
                                </div>
                            </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input id="email" type="email" class="form-control" formControlName="email" autocomplete="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input id="password" type="password" class="form-control" formControlName="password" autocomplete="new-password">
                        </div>
                        </form>
                        <div class="login-mb">
                            <p class="text-center text-form">Already have an account? <button class="btn second-btn btn-sm">
                                <a routerLink="/login" class="text-decoration-none main-btn btn text-white text-center">Login</a></button></p>
                        </div>
                    <div>
                        <button mat-button matStepperNext class="btn main-btn px-4 py-2 mt-2 fs-6">Next</button>
                    </div>
                </mat-step>
                <!-- Step 2: Preference -->
                <mat-step [stepControl]="preferenceForm">
                    <ng-template matStepLabel>Fill out your preferences</ng-template>
                    <form [formGroup]="preferenceForm" class="mt-4">
                        <div class="form-group mb-3">
                            <label for="smoking">Smoking</label>
                            <select id="smoking" formControlName="smoking" class="form-control form-select">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="pets">Pets</label>
                            <select id="pets" formControlName="pets" class="form-control form-select">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="visitors">Visitors</label>
                            <select id="visitors" formControlName="visitors" class="form-control form-select">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="partying">Partying</label>
                            <select id="partying" formControlName="partying" class="form-control form-select">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="sharingBedroom">Sharing Bedroom</label>
                            <select id="sharingBedroom" formControlName="sharingBedroom" class="form-control form-check">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="hasApartment">Has Apartment</label>
                            <select id="hasApartment" formControlName="hasApartment" class="form-control form-select">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </form>
                    <div class="mb-3 d-flex align-items-center mt-">
                        <button mat-button matStepperPrevious class="btn main-btn px-4 py-2 mt-2 fs-6 me-4">Back</button>
                        <button mat-button (click)="submitForms()" class="btn main-btn px-4 py-2 mt-2 fs-6">Submit</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        </div>
    </div>
    </div>
</div>
</section>
