<app-navbar></app-navbar>
<section class="bg-white">
    <div class="container px-4 pt-5 pb-4 mx-auto">
        <div class="row g-4 justify-content-between align-items-center">
            <div class="col-lg-6">
                <div class="d-flex flex-column">
                    <h1 class="mb-4 fw-bolder leading-none tracking-tight">Discover The Roomie Match Application</h1>
                    <img [src]="imageUrl5" class="img-home mb-5" width="35% !important" height="100% !important">
                </div>
                <p class="mb-6 fs-5 w-100">Discover the perfect roommate effortlessly with Roomie Match. We match you 
                    based on shared interests, making finding your ideal living companion a breeze. Say hello to stress-free living 
                    – start your search now 👋.</p>
            </div>
            <div class="col-lg-6 d-none d-lg-flex flex-column">
                    <div class="d-flex">
                        <img [src]="imageUrl2" class="img-fluid img-home ms-5 ps-5" width="43% !important">
                        <img [src]="imageUrl4" class="img-home mb-5" width="15% !important" height="10% !important">
                    </div>
                    <div class="d-flex">
                        <img [src]="imageUrl1" class="img-fluid img-home mt-5 pt-5">
                        <img [src]="imageUrl3" class="img-fluid img-home w-25 h-25">
                        <img [src]="imageUrl" class="img-fluid img-home mb-5 pb-5">
                    </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-5" style="background-color: #f9fafb;">
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto pb-4">
                <p class="section-title display-6 bg-white text-center text-primary px-3 mb-3">Our Services</p>
                <h1 class="mb-5">Your ideal roommate, just a click away.</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5">
                    <div class="service-item d-flex h-100">
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" [src]="imageUrl2" alt="">
                            </div>
                            <h5 class="mb-3">Lorem ipsum dolor</h5>
                                <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                                    stet diam sed stet.</p>
                                <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5">
                    <div class="service-item d-flex h-100">
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" [src]="imageUrl8" alt="">
                            </div>
                            <h5 class="mb-3">Lorem ipsum dolor</h5>
                                <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                                    stet diam sed stet.</p>
                                <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5">
                    <div class="service-item d-flex h-100">
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" [src]="imageUrl9" alt="">
                            </div>
                            <h5 class="mb-3">Lorem ipsum dolor</h5>
                                <p class="mb-4">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam
                                    stet diam sed stet.</p>
                                <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-xxl feature py-5 mt-2 mb-4">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <p class="d-inline-block border rounded text-color fw-semi-bold py-1 px-3">Why Choosing Us!</p>
                    <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                        eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <a class="btn main-btn py-3 px-5" href="">Explore More</a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12">
                                    <div class="feature-box border rounded p-4">
                                        <i class="bi bi-check-lg fw-bold display-3 mb-3" style="color: #6c2bd9 !important;"></i>
                                        <h4 class="mb-3">Fast Executions</h4>
                                        <p class="mb-3">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                                            justo erat amet</p>
                                        <a class="fw-semi-bold text-color-home text-decoration-none" href="">Read More <i class="bi bi-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="feature-box border rounded p-4">
                                        <i class="bi bi-check-lg fw-bolder display-3 mb-3" style="color: #6c2bd9 !important;"></i>
                                        <h4 class="mb-3">Guide &amp; Support</h4>
                                        <p class="mb-3">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo
                                            justo erat amet</p>
                                        <a class="fw-semi-bold text-color-home text-decoration-none" href="">Read More <i class="bi bi-arrow-right ms-1"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-box border rounded p-4">
                                <i class="bi bi-check-lg fw-bold display-3 mb-3" style="color: #6c2bd9 !important;"></i>
                                <h4 class="mb-3">Financial Secure</h4>
                                <p class="mb-3">Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                                    erat amet</p>
                                <a class="fw-semi-bold text-color-home text-decoration-none" href="">Read More <i class="bi bi-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>



