<div id="wrapper">

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="" class="navbar-brand d-flex align-items-center" style="color: #6c2bd9 !important;">
                    <img [src]="imageUrl" alt="logo" class="me-0" style="max-height: 35px; max-width: 35px;">
                    <h3 class="mt-2 fw-bold">OOMIE</h3>
                </a>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Shortcuts</a>
            </li>
            <li>
                <a href="#">Overview</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </div>

    <div id="">
        <div class="container-fluid">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="bi bi-bar-chart-steps"></i></a>
        </div>
    </div>
</div>